body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}


section,
h1, footer {
    padding: 2% 6% 2%;
    line-height: 1.6rem;
}


h1 {
    font-size: 2.5rem;
    margin-top: 80px;
}

h2 {
    line-height: 1.5rem;
    margin-bottom: 1%;
    font-size: 1.5rem;
}

h3 {
    line-height: 1.5rem;
    margin-bottom: 1%;
    font-size: 1.2rem;
}

p,
footer {
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 1.2rem;
}

footer {
    background-color: pink;
    position: relative;
    top: 80vh;
    
}

p, h2, h3 {
    max-width: 36em;
}

header {
    margin: 0;
    position: fixed;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: pink;
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: pink;
    border: black solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: palevioletred;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

/* Design av meny för mobilenheter, placeras till höger om skärmen */
nav {
    background-color: pink;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0 1em;
}

nav li:hover {
    background-color: #F2F5EA;
    cursor: pointer;
}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

#videobg video {
    height: 100vh;
    width: 100%;    
    object-fit: cover;
    position: fixed;
    top: 0;
    z-index: -2;
}

#bgtext {
    background-color: rgba(255,255,255, 0.8);
    padding: 1em;
    border-radius: 10px;
    max-width: 800px;
    margin : 0 auto;
    top: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: -1;
    
    
}